on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Set up node'
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: yarn install
      - run: yarn build
      - name: 'Publish to NPM'
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_AUTH_BSMTH }}
          tag: 'latest'
          access: 'public'
          dry-run: false
